
  body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
  }

  h1 {
    text-align: center;
    font-size: 36px;
    color: #2e2e2e;
    margin-top: 40px;
  }

  p {
    font-size: 24px;
    color: #4d4d4d;
    margin-top: 20px;
    line-height: 1.5;
    text-align: justify;
    padding: 0 20px;
  }

  img {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: auto;
    margin-top: 40px;
  }

  header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  #headingheader {
    margin: 0;
    color: #fff;

  }

  #navID {
    display: flex;
    flex-wrap: wrap;
  }

  #navID a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
    text-align: center;
  }

  /* Media query for mobile devices */
  @media only screen and (max-width: 700px) {
    header {
      flex-direction: column;
      align-items: center;
    }
    
    #headingheader {
      margin-bottom: 10px;
    }
    
    #navID {
      margin-top: 10px;
      flex-direction: column;
    }
    
    #navID a {
        text-align: center;
        color: #fff;
      margin-right: 0;
      margin-bottom: 5px;
      text-align: center;

    }
  }

  .styled-heading {
    font-size: 36px;
    font-weight: bold;
    font-family: Georgia, serif;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 50px;
    margin-bottom: 30px;
}